@import '~antd/dist/antd.css';
@import './reset.css';

.logo {
  width: 120px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  float: left;
}

.info {
  width: 120px;
  background: rgba(255, 255, 255, 0.2);
  float: right;
}

.header {
  border-bottom: .5px solid #dcdce1;
  background: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.tool_bar {
  border: none;
  line-height: 60px!important;
  text-align: center;
}

.left-sider {
  height: calc(100vh - 64px);
  background: #ffffff;
}